<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attribute Calculator</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        :root {
            --primary-bg-color: #121212;
            --text-color: #ffffff;
        }
        body.dark-mode {
            background-color: var(--primary-bg-color);
            color: var(--text-color);
            font-family: 'Roboto', sans-serif;
        }
        .results, .error-message {
            background-color: #333;
            padding: 20px;
            border-radius: 5px;
            margin-top: 20px;
            color: var(--text-color);
        }
        .btn-primary:hover {
            background-color: #0056b3;
            transition: background-color 0.3s;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="dark-mode">
    <div class="container mt-5">
        <form action="/" method="post" class="attribute-form">
            <fieldset>
                <legend>Attribute Input</legend>
                {% for i in range(1, 4) %}
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="attribute{{i}}">Attribute {{i}}:</label>
                        <select name="attribute{{i}}" id="attribute{{i}}" class="form-control attribute-select" data-value-dropdown="value{{i}}">
                            {% for attr in ['STR', 'STA', 'DEX', 'INT', 'ADOCH', 'IA', 'PVE', 'MP', 'HP', 'DCT'] %}
                            <option value="{{ attr }}">{{ attr }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="value{{i}}">Value:</label>
                        <select name="value{{i}}" id="value{{i}}" class="form-control">
                            <!-- Values will be populated by JavaScript -->
                        </select>
                    </div>
                </div>
                {% endfor %}
            </fieldset>
            <button type="submit" class="btn btn-primary">Calculate</button>
        </form>

        {% if combined_chance %}
        <div class="results">
            <h2>Results:</h2>
            <h3>Selected Attributes:</h3>
            <ul>
                {% for i in range(1, 4) %}
                <li>Attribute {{ i }}: <strong>{{ request.form.get('attribute' + i|string) }}</strong> - Value: <strong>{{ request.form.get('value' + i|string) }}</strong></li>
                {% endfor %}
            </ul>
            <p>Combined Chance: <strong>{{ '%.6f' % (combined_chance|float * 100) }}%</strong></p>
            <p>Price Range: <strong>{{ (price_range_lower|float)|round(0) }} to {{ (price_range_upper|float)|round(0) }} Perins</strong></p>
        </div>        
        {% endif %}

        {% if error %}
        <div class="error-message">
            <p>{{ error }}</p>
        </div>
        {% endif %}
    <!-- New form for awakening simulation -->
    <form action="/" method="post" class="awakening-form">
        <input type="hidden" name="roll_awakenings" value="1">
        <input type="submit" value="Roll Awakenings" class="submit-button">
    </form>

    <!-- Display results for awakenings -->
    {% if rolled_awakenings %}
        <div class="results">
            <h2>Awakening Results:</h2>
            <p>Number of Lines: {{ num_lines }}</p>
            <ul>
                {% for awakening in rolled_awakenings %}
                    <li>{{ awakening[0] }}: {{ awakening[1] }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var attributeDropdowns = document.querySelectorAll('.attribute-select');
            attributeDropdowns.forEach(function(dropdown) {
                dropdown.addEventListener('change', function() {
                    updateValueOptions(this);
                });
                updateValueOptions(dropdown);
            });

            function updateValueOptions(attributeDropdown) {
                var attribute = attributeDropdown.value;
                var valueDropdownId = attributeDropdown.getAttribute('data-value-dropdown');
                var valueDropdown = document.getElementById(valueDropdownId);
                var selectedValue = attributeDropdown.getAttribute('data-selected-value'); // Get the selected value sent from the server

                var values = {
                STR: [24, 25, 28, 33, 36, 38, 40, 41, 43, 45],
                STA: [24, 25, 28, 33, 36, 38, 40, 41, 43, 45],
                DEX: [24, 25, 28, 33, 36, 38, 40, 41, 43, 45],
                INT: [24, 25, 28, 33, 36, 38, 40, 41, 43, 45],
                ADOCH: [24, 25, 28, 33, 36, 38, 40, 41, 43, 45],
                IA: [8, 9, 10, 11, 12, 14, 15, 16, 17, 18],
                PVE: [8, 9, 10, 11, 12, 14, 15, 16, 17, 18],
                MP: [8, 9, 10, 11, 12, 14, 15, 16, 17, 18],
                HP: [8, 9, 10, 11, 12, 14, 15, 16, 17, 18],
                DCT: [12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
                };
            
                valueDropdown.innerHTML = '';
                values[attribute].forEach(function(value) {
                    var option = document.createElement('option');
                    option.value = value;
                    option.textContent = value;
                    if (value == selectedValue) {
                        option.selected = true; // Mark the option as selected if it matches
                    }
                    valueDropdown.appendChild(option);
                });
            }

        });
    </script>
</body>
</html>
